zeus_boxes/
**/node_modules/
**/logs/
**/dist/
**/build/
**/Common/
**/eosio.bios/
**/eosio.boot/
**/eosio.msig/
**/eosio.sudo/
**/eosio.system/
**/eosio.token/
**/oracle-prefix/

**/Makefile
**/CMakeCache.txt
**/CMakeFiles/**
**/CMakeFiles
**/cmake_install.cmake

.idea/
.env
.vscode
**/*-prefix/**

contracts/eos/oracle/oracle.wasm
contracts/eos/oracle/oracle.abi